[Desktop Entry]
Type=Application
Name=Battle.net
GenericName=Battle.net
Comment=Game Launcher
Exec=Battlenet.sh
Categories=Game;
Icon=com.blizzard.Battlenet
Keywords=Microsoft;Activision;Blizzard;Battlenet;Battle net;Battle.net;Avowed;Blizzard Arcade Collection;Call of Duty;Call of Duty: Black Ops 4;Call of Duty: Black Ops Cold War;Call of Duty: MW2 Campaign Remastered;Call of Duty: Modern Warfare;Call of Duty: Vanguard;Crash Bandicoot 4: It's About Time;Diablo;Diablo 2: Resurrected;Diablo II: Resurrected;Diablo 3; Diablo III;Diablo Immortal;Doom: The Dark Ages;Hearthstone;Heroes of the Storm;Overwatch 2;Sea of Thieves;StarCraft;StarCraft 2;StarCraft II;The Outer Worlds 2;Tony Hawk's Pro Skater 3 + 4;Warcraft: Remastered;Warcraft I: Remastered;Warcraft 2: Battle.net Edition;Warcraft II: Battle.net Edition;Warcraft 2: Remastered;Warcraft II: Remastered;Warcraft 3;Warcraft III;Warcraft: Orcs & Humans;Warcraft Rumble;World of Warcraft;World of Warcraft Classic;